<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.projectgarud">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".EarthquakeActivityAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsAdmin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActiveUsers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuildingSafetyCheck"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EarthquakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver" />

    </application>

</manifest>